version: '3.7'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    restart: unless-stopped
    volumes:
      - ./:/app
      #- /app/vendor #When prod no required
      - /app/var
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/php/fpm-pool.conf:/usr/local/etc/php-fpm.d/fpm-pool.conf
      - ./docker/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
    ports:
      - "80:80"
    networks:
      - mongo_test

###> doctrine/mongodb-odm-bundle ###
  mongo:
    image: mongo:5.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - 27017:27017
    networks:
      - mongo_test
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB_DB}
    volumes:
      - dbdata:/data/db
###< doctrine/mongodb-odm-bundle ###
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
      - ME_CONFIG_MONGODB_AUTH_USERNAME=${MONGO_ROOT_USER}
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=${MONGO_ROOT_PASSWORD}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
    ports:
      - "8888:8081"
    networks:
      - mongo_test

networks:
  mongo_test:
    driver: bridge

volumes:
###> doctrine/mongodb-odm-bundle ###
  dbdata:
    driver: local
###< doctrine/mongodb-odm-bundle ###

# Create network "docker network create mongo-vpn --subnet 10.0.2.0/16" ##
